    <!-- Header Start -->
    <div class="container-fluid  mb-5" style="background-Color:#2ebbe2">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
          style="min-height: 400px"
        >
          <h3 class="display-3 font-weight-bold text-white">اتصل بنا</h3>
          <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="">الرئيسيه</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">اتصل بنا</p>
          </div>
        </div>
      </div>
      <!-- Header End -->
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
      <div class="container">
        <div class="text-center pb-2">
          <p class="section-title px-5">
            <span class="px-2">ابقى على تواصل</span>
          </p>
          <h1 class="mb-4">اي استفسار؟</h1>
        </div>
        <div class="row">
          <div class="col-lg-7 mb-5">
            <div class="contact-form">
              <div id="success"></div>
              <form name="sentMessage" id="contactForm" novalidate="novalidate">
                <div class="control-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="اسمك"
                    required="required"
                    data-validation-required-message="ادخل اسمك"
                  />
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="بريدك الالكتروني"
                    required="required"
                    data-validation-required-message="ادخل بريدك الالكتروني"
                  />
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                  <input
                    type="text"
                    class="form-control"
                    id="subject"
                    placeholder="الموضوع"
                    required="required"
                    data-validation-required-message="ادخل الموضوع"
                  />
                  <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                  <textarea
                    class="form-control"
                    rows="6"
                    id="message"
                    placeholder="الرسالة"
                    required="required"
                    data-validation-required-message="ادخل رسالتك"
                  ></textarea>
                  <p class="help-block text-danger"></p>
                </div>
                <div>
                  <button
                    class="btn  py-2 px-4" style="background-Color:#2ebbe2"
                    type="submit"
                    id="sendMessageButton"
                  >
                 ارسل الرسالة
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-5 mb-5">
            <p>
            يمكنك التواصل معانا لاستفسار عن اي سوال 
            </p>
            <div class="d-flex">
              <i style="background-Color:#2ebbe2"
                class="fa fa-map-marker-alt d-inline-flex align-items-center justify-content-center  text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i>
              <div class="pl-3">
                <h5 style="margin-right: 15px;">العنوان</h5>
                <p style="margin-right: 10px;">123 Street, New York, USA</p>
              </div>
            </div>
            <div class="d-flex">
              <i
                class="fa fa-envelope d-inline-flex align-items-center justify-content-center  text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i>
              <div class="pl-3">
                <h5 style="margin-right: 10px;">البريد الابكتروني</h5>
                <p style="margin-right: 10px;">info@example.com</p>
              </div>
            </div>
            <div class="d-flex">
              <i
                class="bi bi-telephone d-inline-flex align-items-center justify-content-center  text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i>
              <div class="pl-3">
                <h5 style="margin-right: 10px;">التلفون</h5>
                <p style="margin-right: 10px;">+011 205 38245</p>
              </div>
            </div>
            <div class="d-flex">
              <i
                class="far fa-clock d-inline-flex align-items-center justify-content-center  text-secondary rounded-circle"
                style="width: 45px; height: 45px"
              ></i>
              <div class="pl-3">
                <h5 style="margin-right: 10px;">وقت الرد</h5>
                <strong style="margin-right: 10px;">Sunday - Friday:</strong>
                <p class="m-0" style="margin-right: 10px;">08:00 AM - 05:00 PM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->
  
  <!----------------------------------------------------------------------->
      <!-- <div class="row">
          <div class="col-12 ">
              <div class="container">
  
                  <div class="container border rounded mt-5 p-5">
                      <div class="row">
                          <div class="col- d-flex justify-content-center h-50">
                              <h1>Contact me</h1>
                          </div>
                      </div>
                      <form class=" m-3">
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text"> Name</span>
                              <input type="text" class="form-control" required>
                          </div>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text">Email</span>
                              <input type="email" class="form-control" required>
                          </div>
                          <div class="input-group input-group-sm mb-2">
                              <textarea class="form-control" rows="8" placeholder="subject" required></textarea>
  
                          </div>
  
                          <div class="row">
                              <div class="col- d-flex justify-content-center">
                                  <button type="submit"
                                      class="btn btn-success d-flex justify-content-center ">Contect Me</button>
  
                              </div>
                          </div>
  
                      </form>
  
                  </div>
          </div>
  
      </div> -->
  ////////////
  