<div class="allcomments">
    <div class="testi-box ">
        <div class="profile-area">
            <div class="container">
                <div class="row">
                    <swiper [slidesPerView]="3" [spaceBetween]="50" [loop]="true" [autoHeight]="true"
                        [allowTouchMove]="true" [autoplay]="{ delay: 1000, disableOnInteraction: false }"
                        [pagination]="{ clickable: true }" [navigation]="true">

                        <ng-template swiperSlide>
                            <div class="card ">
                                <div class="img1"></div>
                                <div class="img2"><img src="assets/1.jpg" alt=""></div>
                                <div class="main-text">
                                    <h2>Person 1</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, doloribus
                                        quos
                                    </p>
                                </div>
                                <div class="socials">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-dribble"></i>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template swiperSlide>
                            <div class="card">
                                <div class="img1">
                                </div>
                                <div class="img2">
                                    <img src="assets/2.png" alt="">
                                </div>
                                <div class="main-text">
                                    <h2>Person 2</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, doloribus
                                        quos
                                    </p>
                                </div>
                                <div class="socials">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-dribble"></i>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template swiperSlide>
                            <div class="card">
                                <div class="img1">
                                </div>
                                <div class="img2">
                                    <img src="assets/3.png" alt="">
                                </div>
                                <div class="main-text">
                                    <h2>Person 3</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, doloribus
                                        quos
                                    </p>
                                </div>
                                <div class="socials">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-dribble"></i>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="card">
                                <div class="img1">
                                </div>
                                <div class="img2">
                                    <img src="assets/3.png" alt="">
                                </div>
                                <div class="main-text">
                                    <h2>Person 3</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, doloribus
                                        quos
                                    </p>
                                </div>
                                <div class="socials">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-dribble"></i>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="card">
                                <div class="img1"></div>
                                <div class="img2">
                                    <img src="assets/3.png" alt="">
                                </div>
                                <div class="main-text">
                                    <h2>Person 3</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, doloribus
                                        quos
                                    </p>
                                </div>
                                <div class="socials">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-dribble"></i>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide>
                            <div class="card">
                                <div class="img1">
                                </div>
                                <div class="img2">
                                    <img src="assets/3.png" alt="">
                                </div>
                                <div class="main-text">
                                    <h2>Person 3</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, doloribus
                                        quos
                                    </p>
                                </div>
                                <div class="socials">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-dribble"></i>
                                </div>
                            </div>
                        </ng-template>
                    </swiper>
                </div>
                <div class="addBtn">
                    <button type="button" (click)="checkLogin()" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#coursesmodal" (click)="addClick()" data-bs-backdrop="static"
                        data-bs-keyboard="false">اضافة تعليق</button>

                    <!-- <button type="button" class="btn btn-primary m-auto text-center " data-bs-toggle="modal"
                        data-bs-target="#coursesmodal" (click)="addClick()" data-bs-backdrop="static"
                        data-bs-keyboard="false">اضافة تعليق</button> -->
                </div>

                <div class="modal fade" id="coursesmodal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div style="width: auto;" class="modal-dialog modal-dialog-centered mdal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                                    (click)="closeClick()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div *ngIf="islogged; then elslogin; else Thencomment" > </div>
                            <div class="modal-body">
                                
                                
                                <ng-template #elslogin>
                                      <app-login></app-login>
                                </ng-template>
                               
                                <ng-template #Thencomment>
                                   
                                <div class="all">
                                    <div class="comment-box">
                                        <h2>comments</h2>
                                        <input type="text" name="full name" placeholder=" اسم المستخدم">
                                        <input type="email" name="email" placeholder=" ادخل الايميل">
                                        <textarea name="comment" id="" cols="30" rows="10"
                                            placeholder="ادخل تعليق "></textarea>
                                        <button type="submit">تسجيل </button>
                                    </div>
                                </div>
                            </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                    
                              
                                
        </div>
    </div>
</div>