<main class="container-fluid"id="main">
    <section class="row"id="home">
 
     <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
         <div class="carousel-controls">
 
             <ol class="carousel-indicators">
 
                 <li style="background-image:url('../../assets/img1.jpg');"
                     data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                     aria-current="true" aria-label="Slide 1"></li>
                 <li style="background-image:url('../../assets/img1.jpg');"
                     data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></li>
                 <li style="background-image:url('../../assets/img1.jpg');"
                     data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></li>
             </ol>
         </div>
         <div class="carousel-inner">
             <div class="carousel-item active" style="background-image:url('../../assets/img1.jpg') ;">
 
                 <div class="container ">
                     <h2>welcome to course</h2>
                     <p>this course for you</p>
 
 
                 </div>
 
             </div>
             <div class="carousel-item " style="background-image:url('../../assets/img1.jpg') ;">
 
                 <div class="container ">
                     <h2>welcome to course</h2>
                     <p>this course for you</p>
 
 
                 </div>
 
             </div>
             <div class="carousel-item " style="background-image:url('../../assets/img1.jpg') ;">
 
                 <div class="container ">
                     <h2>welcome to course</h2>
                     <p>this course for you</p>
 
 
                 </div>
 
             </div>
         </div>
         <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
             data-bs-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
         </a>
         <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
             data-bs-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
         </a>
     </div>
 </section>
 
 <section>
 
   <div class="row my-3 container-fluid">
       <div class="col-lg-6 col-md-6 col-12 text-center my-2">
           <img class=" rounded-circle" width="45%" height="45%" src="../../assets/moh.png" alt=""
               srcset="">
       </div>
 
       <div class="col-lg-6 col-md-6 col-12 my-3">
           <p class="text-muted ">انا محمد كوراني،عندي شغف كبير بمجال علم النفس وتطوير الذات، بعد رحلة بحث وقراية في المجال ده لمده سنة ونص تقريبا اكتشفت ان اي مشكلة في حياة اي شخص مهما كانت، اساسها داخلى في النفس"إن الله لا يغير ما بقوم حتي يغيروا ما بأنفسهم" ومن هنا حابب اشارك مع الناس اي معرفة تطور وتحسن من حياتهم ولو بنسبة %1.</p>
 
           <button class="btn btn-warning btn-outline-secondary text-dark ">show more</button>
       </div>
 
   </div>
 
 
 </section>
 
 
 <section >
    <div *ngFor="let item of courses let i=index">
        <div *ngIf="i<4">
            <div class="row my-4" >
                <div class="col-7 px-5 text-end">
                    <h2 class="text-dark">{{item.name}}</h2>
                      <div>
                        <p #inputprg class="text-secondary  my-0 mx-2 d-inline ">{{item.description}}/p>
                        <span #span1 (click)="showMore()" class="text-primary m-0">show more</span>
                     </div>
                    <button class="btn btn-secondary btn-list"  (click)="getcoursedetailes(item.id)" style="background-color: #2ebbe2">click</button>
          
                </div>
                <div class="col-4  my-auto">
                    <img class="w-lg-75 w-md-75 w-100" height="250PX" [src]="item.imgpath">
                </div>
            </div>
          
        </div>
       
    </div>
 
 </section>

  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative" >
    <div class="row row-cols-1 row-cols-xs-4 row-cols-sm-4 row-cols-lg-4 g-3">
      <div class="col hp" *ngFor="let item of courses let i=index">
        <div class="card h-70 shadow-sm" *ngIf="i<4">
          <a href="#">
            <img [src]="item.imgpath" height="250PX" class="card-img-top" alt="product.title" />
          </a>
  
          <div class="label-top shadow-sm">
            <a class="text-white" >asus</a>
          </div>
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-success">{{item.price}}$</span>
  
              <span class="float-end"><a  class="small text-muted text-uppercase aff-link">{{item.discount}}$</a></span>
            </div>
            <h5 class="card-title">
              <a target="_blank" href="#">{{item.description}}</a>
            </h5>
  
            <div class="d-grid gap-2 my-4">
  
              <a href="#" class="btn btn-warning bold-btn">اشتري الكورس</a>
  
            </div>
            <div class="clearfix mb-1">
  
              <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>
  
              <span class="float-end">
                <i class="far fa-heart" style="cursor: pointer"></i>
  
              </span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
 
 </main>
 <app-comment></app-comment>
 



 
  

