div.center {
    text-align: center;
  }




.button1 {
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2ebbe2;
    border: none;
    border-radius: 15px;
    
    }
    
    .button1:hover {background-color: #239cbe}

    .button1:active {
    background-color: #236375;
    box-shadow: 1 4px #66A;
    transform: translateY(4px);
    }



    // .DivToScroll{   
    //     background-color: #F5F5F5;
    //     border: 1px solid #DDDDDD;
    //     border-radius: 4px 0 4px 0;
    //     color: #3B3C3E;
    //     font-size: 12px;
    //     font-weight: bold;
    //     left: -1px;
    //     padding: 10px 7px 5px;
    // }
    .DivToScroll{   
        background-color: #F5F5F5;
        border: 1px solid #DDDDDD;
        border-radius: 4px 0 4px 0;
        color: #3B3C3E;
        font-size: 12px;
        font-weight: bold;
        left: -1px;
        padding: 10px 7px 5px;
    }
    @media (max-width: 538.4px){
        .DivWithScroll{ overflow-y: hidden;}
    }
    
    // .DivWithScroll{
    //     // height:500px;
    //     overflow:scroll;
    //     overflow-x:hidden;
    // }
    .DivWithScroll{
        height:120px;
        overflow:scroll;
        // overflow-x:hidden;
    }
    // .row{
    //     margin-top: 30px;
    // }
    .product_view .modal-dialog{max-width: 800px; width: 100%;}
    .pre-cost{text-decoration: line-through; color: #a5a5a5;}
    .space-ten{padding: 10px 0;}