<!-- Header Start -->
<div  style="margin-top: 130px; ">
<div class="container-fluid  mb-5" style="background-Color:#2589a4">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h3 class="display-3 font-weight-bold text-white">اعرف عنا</h3>
    <div class="d-inline-flex text-white">
      <p class="m-0"><a class="text-white" href="">الرئيسيه</a></p>
      <p class="m-0 px-2">/</p>
      <p class="m-0">اعرف عنا</p>
    </div>
  </div>
</div>
<!-- <div class="container" >
  <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">اعرف عني</h1>
      <h1 class="position-absolute text-uppercase text-primary" style="font-family: serif;">اعرف عني</h1>
  </div>
</div> -->
<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img
          class="img-fluid rounded mb-5 mb-lg-0" 
          src="../../assets/img2.jpeg" width="600px"
          height="600px"
          alt=""
        />
      </div>
      <div class="col-lg-7">
        <p class="section-title pr-5">
          <span class="pr-2">اعرف عنا</span>
        </p>
        <h1 class="mb-4">اكاديميه بيس</h1>
        <p>
          نحرص علي ايصال المعلومات لاكبر قدر من الشباب في مختلف جول العالم  
          ،قررنا ان نفرغ وقتنا لتسجيل الدورات كي تفيد اكبر عدد من الشباب في مختلف العالم  .
        </p>
        <div class="row pt-2 pb-4">
          <div class="col-6 col-md-4">
            <!-- <img class="img-fluid rounded" src="../../assets/logo2.jpeg" alt="" /> -->
          </div>
          <div class="col-6 col-md-8">
            <ul class="list-inline m-0">
              <li class="py-2 border-top border-bottom">
                <i style="Color:#2ebbe2;" class="fa fa-check  mr-3"></i> 
                <span style="margin-right: 10px;">رويتنا ان تكون الاكاديميه الملهم لكل من يريد العيش بسعاده.</span>
                
              </li>
              <li class="py-2 border-bottom">
                <i style="Color:#2ebbe2" class="fa fa-check  mr-3"></i>  
                <span style="margin-right: 10px;">المهمه ان تكون الاكاديميه الجاذب للشياب الذي يتوق للمستقبل .</span>

              </li>
              <li class="py-2 border-bottom">
                <i style="Color:#2ebbe2" class="fa fa-check  mr-3"></i> 
                <span style="margin-right: 10px;">العزة تساهم الاكاديميه في انتقال المستفيدين من حالة الذل.</span>
                </li>
            </ul>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
<!-- About End -->
<br>
<br>
<div class="col-xl-12 text-center mb-4">
  <div class="service-title">
      <h4> طريقة شراء الكورسات </h4>
  </div>
</div>
<div class="container  mt-5 mb-5">
<h2></h2>
<div class="row m-0">
<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
<div class="card">
<div class="card-body">
<span class="badge bg-secondary">01</span>
<h3 class="card-title" style="margin-top: 15px;">تسجيل جديد</h3>


<h6 class="card-subtitle mb-2">اضغط على سجل الان واملئ البيانات</h6>

</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
<div class="card">
<div class="card-body">
<span class="badge bg-primary">02</span>
<h3 class="card-title" style="margin-top: 15px;">  اختيار الكورس</h3>

<p class="card-text"> يمكنك اختيار احد الكورسات على الموقع ثم التواصل معنا لشراء الكورس</p>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
<div class="card">
<div class="card-body">
<span class="badge bg-primary">03</span>
<h3 class="card-title" style="margin-top: 15px;"> طريقة الدفع </h3>

<p class="card-text"> يتم الدفع عن طريق فودافون كاش </p>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
<div class="card">
<div class="card-body">
<span class="badge bg-success">04</span>
<h3 class="card-title" style="margin-top: 15px;"> تفعيل الشراء</h3>

<p class="card-text">يتم تفعيل الشراء عن طريق ادخال كود التغعيل المرسل على البريد الاكترونى الخاص بالمستخدم </p>
</div>
</div>
</div>

</div>
</div>


<!-- <section class="service-grid pb-5 pt-5">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 text-center mb-4">
              <div class="service-title">
                  <h4>خدماتنا</h4>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-layer-group"></i>
                  </div>
                  <h4>توفر كورسات</h4>
                  <p> توفر كورسات عالية الجودة في مختلف المجالات تسعى إلى رفع مستوى التعليم الإلكتروني</p>
                  
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="far fa-chart-bar"></i>
                  </div>
                  <h4>سرعة الاستجابة</h4>
                  <p>نستجيب  لاحتياجات العمل بطريقة رشيقة وعالمية.</p>
                
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-database"></i>
                  </div>
                  <h4>طريقة الدفع</h4>
                  <p>يمكنك الدفع  الكاش عن طريق مثلا فودفون كاش</p>
                
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-cogs"></i>
                  </div>
                  <h4>سهول التواصل</h4>
                  <p>يمكن للمستخدم الاستفسار في اي وقت عن طريق فورم . </p>
               
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-chart-pie"></i>
                  </div>
                  <h4>تقديم اول حلقه بالمجان</h4>
                  <p>لمعرفة هل الكورس مناسب لك او لاء قبل الشراء يمكنك الاطلاع علي اول حلقه.</p>
                
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-thumbs-up"></i>
                  </div>
                  <h4>دعمنا الكامل </h4>
                  <p>نحن ندعم اي شخص يحاول التعلم او الحصول علي معلومة تفيده .</p>
              
              </div>
          </div>
      </div>
  </div>
</section> -->
<section class="we-offer-area text-center bg-gray section1">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="site-heading text-center">
                <h2>ما الذى <span>نقدمه</span></h2>
                <h4>اهم الخدمات التى نقوم بتقديمها</h4>
            </div>
        </div>
    </div>
        <div class="row our-offer-items less-carousel">
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-pen-fancy"></i>
                    <h4>توفر كورسات </h4>
                    <p>
                        توفر كورسات عالية الجودة في مختلف المجالات تسعى إلى رفع مستوى التعليم الإلكتروني 
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-dharmachakra"></i>
                    <h4>سهولة التواصل </h4>
                    <p>
                        يمكن للمستخدم الاستفسار في اي وقت عن طريق فورم .  
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-tasks"></i>
                    <h4>طريقة الدفع </h4>
                    <p>
                        يمكنك الدفع الكاش عن طريق مثلا فودفون كاش 
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-tachometer-alt"></i>
                    <h4>دعمنا الكامل </h4>
                    <p>
                        نحن ندعم اي شخص يحاول التعلم او الحصول علي معلومة تفيده .
                    
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-recycle"></i>
                    <h4>تقديم اول حلقه بالمجان </h4>
                    <p>
                        لمعرفة هل الكورس مناسب لك او لاء قبل الشراء يمكنك الاطلاع علي اول حلقه.
                    
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-headset"></i>
                    <h4>سهول التواصل</h4>
                    <p>
                        نحن ندعم اي شخص يحاول التعلم او الحصول علي معلومة تفيده .
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
</div>
</section>
</div>
