<section class="col-lg-4 col-md-5 col-sm-3 m-auto"style="height: 20rem;background-color:#ffffff">
        <div class="register-form" *ngIf="emailform">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5">
            <div class="form-group"style="margin:10px 0px;">
                <label class="mb-2">الايميل</label>
                <input [(ngModel)]="email"type="text"formControlName="email"class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div class="text-danger"*ngIf="errorexist">
                هذا الايميل غير موجود 
                </div>
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">مطلوب</div>
                <div *ngIf="f['email'].errors['email']">الايميل غير صحيح</div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success" style="margin:5px 5px ;">إرسال كود التحقق</button>
            </div>
            </form>
        </div>
        <div *ngIf="codeform">
            <form #userregs="ngForm" novalidate >
                <div class="form-group">
                    <label for="Name" class=" mb-1">الكود</label>
                    <input type="text" class="form-control" id="name"name="name" required [class.is-invalid]="user.invalid&&user.touched"  #user="ngModel" [(ngModel)]="code" placeholder="ادخل الكود">
                    <small class="text-danger" *ngIf="codeerror">الكود غير صحيح</small>
                    <div *ngIf="user.errors&&user.touched">
                        <small class="text-danger" *ngIf="user.errors['required']">مطلوب</small>
                    </div>
                </div> 
                <button type="submit" (click)="activeform()" [disabled]="userregs.form.invalid" [class.btn-success]="userregs.form.valid" [class.btn-danger]="userregs.form.invalid" class="btn mt-5">تحقق</button>   
                <br>
                <button (click)="onSubmit()" class="btn btn-primary mt-2" >أرسال مره أخره</button>

            </form>
        </div>
        <div *ngIf="passwordform">
            <form #update="ngForm" novalidate >
                <div class="form-group">
                    <label for="pass" class=" mb-1">كلمه السر</label>
                    <input type="password" class="form-control" id="pass"name="pass" required [class.is-invalid]="pass.invalid&&pass.touched"  #pass="ngModel" minlength="5" [(ngModel)]="password" placeholder="ادخل كلمه السر">
                    <div *ngIf="pass.errors&&pass.touched">
                        <small class="text-danger" *ngIf="pass.errors['required']">مطلوب</small>
                        <small class="text-danger" *ngIf="pass.errors['minlength']">كلمه السر قصيره</small>
                    </div>
                </div> 
                <button type="submit" (click)="onsubmit()" [disabled]="update.form.invalid" [class.btn-success]="update.form.valid" [class.btn-danger]="update.form.invalid" class="btn mt-5">تحديث</button>   
        </form>
        </div>
      
</section>