<!-- 
<section class="container-fluid">
  <section class="row col-12 text-center " style="background-color: b#ffffff;">
    <div class="col-6 m-auto mt-2">
      <<<<<<code of side menue or nav bar>>>
      <span id="titl" routerLink="/admin/showcourses">الكورسات</span>
      <span id="titl"routerLink="/admin/showcategory">العناوين الرئيسيه </span>
      <span id="titl" routerLink="/admin/showvideos">الفيديوهات</span>
      <span id="titl" routerLink="/admin/code">إنشاء كود</span>   
  </div>
   </section>
      <section class="col-9">
    <router-outlet></router-outlet>
        </section>
       
  </section>


   -->

   <div class="container-fluid">
    <div class="row ">
        <div class="col-sm-auto col-sm-2 bg-light ">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center ">

                <div class=" row m-0 p-0 ">
                    <ul
                        class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
                        <li class="nav-item">
                            <a routerLink="/home" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                                data-bs-placement="right" data-bs-original-title="Home">

                                <div class="row m-0 p-0 ">
                                    <div class="col-xs-1 m-0 p-0 col-md-4 "style="color:#2b6777" >
                                        <mat-icon >home</mat-icon>
                                    </div>
                                    <div class="col-xs-3 col-md-4 mt-1 " style="color:#2b6777">الرئيسيه
                                    </div>
                                </div>

                            </a>

                        </li>
                        <li>
                            <a routerLink="/admin/showcourses" class="nav-link py-3 px-2" title=""
                                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">

                                <div class="row m-0 p-0" >
                                    <div class="col-xs-1 m-0 p-0 col-md-4" style="color:#2b6777"> 
                                        <mat-icon >ondemand_video</mat-icon>
                                    </div>
                                    <div class="col-xs-3 col-md-4 mt-1" style="color:#2b6777">الكورسات
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/showcategory" class="nav-link py-3 px-2" title=""
                                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">

                                <div class="row m-0 p-0 m-0 p-0">
                                    <div class="col-xs-1 m-0 p-0 col-md-4" style="color:#2b6777">
                                        <mat-icon>category</mat-icon>
                                    </div>
                                    <div class="col-xs-3 col-md-4 m-0 p-0" style="color:#2b6777">العناوين الرئيسيه
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a routerLink="/admin/showvideos" class="nav-link py-3 px-2" title=""
                                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">

                                <div class="row m-0 p-0">
                                    <div class="col-xs-1 m-0 p-0 col-md-4" style="color:#2b6777">
                                        <mat-icon>video_settings</mat-icon>
                                    </div>
                                    <div class="col-xs-3 col-md-4 mt-1 " style="color:#2b6777">الفيديوهات
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/code" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                                data-bs-placement="right" data-bs-original-title="Dashboard">
                                <div class="row m-0 p-0">
                                    <div class="col-xs-1 m-0 p-0 col-md-4" style="color:#2b6777">
                                        <mat-icon>password</mat-icon>
                                    </div>
                                    <div class="col-xs-3 col-md-4 mt-1" style="color:#2b6777">
                                        إنشاء ومسح كود
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>

                <!-- <div class="dropdown">
                    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-person-circle h2"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="col-sm-auto col-sm-10">
            <!-- <app-student-crud> </app-student-crud> -->

            <router-outlet></router-outlet>
        </div>
    </div>
</div>