
*body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    overflow: hidden;
}


.navSocialMedia {
    display: contents;
    // flex: content;
}

#ico:hover {
    color: #ffffff;
}

#ico {
    color: #c8d8e4
}

#titl {
    color: #ffffff;
    margin-left: 1rem;
    float: right;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #c8d8e4, #c8d8e4)1;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

#titl:hover {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, white, white)1;
    color: #2b6777;
    cursor: pointer;
}

//----------------------------------------
#ico:hover {
    color: #ffffff;
}

#ico {
    color: #c8d8e4
}

#titl {
    color: #ffffff;
    margin-left: 1rem;
    float: right;

    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

#titl:hover {

    color: #2b6777;
    cursor: pointer;
}

#ico:hover {
    color: #ffffff;
}

#ico {
    color: #c8d8e4
}

#titl {
    color: #2b6777;
    margin-left: 1rem;
    float: right;

    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

#titl:hover {
  
    color: white;
    cursor: pointer;
}

//-----------------------------------------------------------
a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

}


a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.header2 {
    display: flex;
    align-items: center;
    // margin: 0 !important;

}

.loginBtn {
    width: 150px;
    font-size: 18px;


    @media (max-width:'1000px') {
        font-size: 16px;
        white-space: nowrap;
        width: 170px;
    }

    @media (max-width:'768px') {
        font-size: 14px;
        white-space: nowrap;
        width: 100px;
        display: flex;
        flex-direction: row;
    }



}

.socialIcons {
    @media (max-width:'780px') {
        padding: 6px;
        margin-right: 5px;

    }
}

.socialIcons {
    @media (max-width:'580px') {
        display: none;

    }
}

.socialIcons i {
    @media (max-width:'780px') {
        font-size: 14px;

    }

}

.welcome {
    @media (max-width:'710px') {
        display: none;
    }
}

dropdown-menu {
    color: red;
    background-color: #52ab98;
}

.heading {
    padding: 12px 0;
    background-color: #c8d8e4;

}



.menu ul {
    padding: 0;
    margin: 0;
}

.menu .menuItems li {
    list-style-type: non;
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    margin-left: 24px;
}

.menu ul li:hover {
    color: #000;
    ;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.menuCollapse {
    display: flex;
    flex-direction: row;
    width: 100%;

}

#collapseBasic .menuCollapse .well {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width:810px) {
    .collapseMenu {
        display: none;
    }
}

// @media only screen and (max-width:768px) {
@media only screen and (max-width:810px) {

    .menu {
        position: fixed;
        right: -280px;
        width: 280px;
        height: 100%;
        top: 64px;
    }

    .header2 {
        display: flex;
        align-items: flex-start;
        // margin: 0 !important;
    }

    .header2 span {
        white-space: nowrap;
    }




    .listItems {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: none;
        text-align: center;
    }

    .btnMenu {
        display: flex;
        align-items: center;
        color: white;
    }

    .btnMenu h6 {
        margin-right: 20px;
    }
}


.sticky-top {
    position: fixed;
 
}