.DivToScroll{   
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

.DivWithScroll{
    height:500px;
    overflow:scroll;
    overflow-x:hidden;
}
// .row{
//     margin-top: 30px;
// }
video{
    margin-top: 20px;
}
div.center {
    text-align: center;
  }

