.DivToScroll{   
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

// .row{
//     margin-top: 30px;
// }
video{
    margin-top: 20px;
}
div.center {
    text-align: center;
  }

  .DivWithScroll{
    height:650px;
 overflow:scroll;
  overflow-x:hidden;
}
@media screen and (max-width:575.2px) {
 
 .DivWithScroll{
      height:120px ;
     overflow:scroll;
      overflow-y:hidden;
 }
}


.b{
    width:150px;
}
.b:hover{
    background-color: #bdd5dc;
}

.d{
    color:#2b6777;
      
}
.row{
 
    margin-top: 150px;
}