<div *ngIf="check;then hid;else hid2"></div>

  <ng-template  #hid>
    <div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group"style="margin:10px 0px;">
        <label>أسم المستخدم</label>
        <input [(ngModel)]="username"type="text"formControlName="username"class="form-control"[ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>

        <div class="text-danger" *ngIf="userexisterror">
          مستخدم بالفعل
         </div>
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">مطلوب</div>
          <div *ngIf="f['username'].errors['minlength']">
            لا يقل عن 3 حروف
          </div>
          <div *ngIf="f['username'].errors['maxlength']">
            لا يزيد عن 20 حرف
          </div>
        </div>
      </div>
  
      <div class="form-group"style="margin:10px 0px;">
        <label>الايميل</label>
        <input
        [(ngModel)]="email"
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        />
        <div class="text-danger"*ngIf="errorexist">
          هذا الايميل موجود يمكنك تسجيل الدخول
          </div>
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">مطلوب</div>
          <div *ngIf="f['email'].errors['email']">الايميل غير صحيح</div>
          
        </div>
      </div>
  
      <div class="form-group"style="margin:10px 0px;">
        <label>كلمه السر</label>
        <input
        [(ngModel)]="password"
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">مطلوب</div>
          <div *ngIf="f['password'].errors['minlength']">
            لا تقل عن 5 
          </div>
          <div *ngIf="f['password'].errors['maxlength']">
            لا تزيد عن 20
          </div>
        </div>
      </div>
  
      <div class="form-group"style="margin:10px 0px;">
        <label>إعاده كتابه كلمه السر</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
        />
        <div
          *ngIf="submitted && f['confirmPassword'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['confirmPassword'].errors['required']">
            مطلوب
          </div>
          <div *ngIf="f['confirmPassword'].errors['matching']">
            كلمه السر غير متطابقه
          </div>
        </div>
      </div>
    <div class="form-group form-radio"style="margin:10px 0px;">
        <span style="margin-left:40px ;">
            <input [(ngModel)]="gender" id="male" type="radio" value="male" name="gender" formControlName="gender">
            <label for="male"style="margin-right:10px ;">ذكر</label>
        </span>
        <span>
            <input [(ngModel)]="gender" id="female" type="radio" value="female" name="gender" formControlName="gender">
            <label for="female" style="margin-right:10px ;">انثى</label>
        </span>
        <div *ngIf="isSet && f['gender'].errors" class="text-danger">
            مطلوب
        </div>
      </div>
      <div class="form-group form-check"style="margin:10px 0px;">
        <label for="acceptTerms" class="form-check-label"style="margin:0 20px 0 0  ;">تم قراءة الشروط و الموافقه عليها</label>
        <input
          type="checkbox"
          formControlName="acceptTerms"
          class="form-check-input" style="float:right ;"
          [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"/>
        <div
          *ngIf="submitted && f['acceptTerms'].errors"
          class="invalid-feedback"
        >
          مطلوب
        </div>
      </div>
  
      <div class="form-group ">
        <button type="submit" class="btn btn-success" style="margin:5px 5px ;">تسجيل</button>
        <button type="button"(click)="onReset()"class="btn btn-secondary ml-3"style="margin:5px 5px ;">
          إعاده تعيين
        </button>
      </div>
      <button type="button" class="btn btn-primary"style="margin:1rem 8rem  0 0;"data-bs-toggle="modal"  data-bs-target="#loginModal" data-bs-backdrop="static" data-bs-keyboard="false"> لدى حساب</button>

    </form>
  </div>
  </ng-template >
  <ng-template #hid2>
    <form #userregs="ngForm" novalidate >
          <div class="form-group">
              <label for="Name" class=" mb-1">الكود</label>
              <input type="text" class="form-control" id="name"name="name" required [class.is-invalid]="user.invalid&&user.touched"  #user="ngModel" [(ngModel)]="code" placeholder="ادخل الكود">
              <small class="text-danger" *ngIf="codeerror">الكود غير صحيح</small>
              <div *ngIf="user.errors&&user.touched">
                  <small class="text-danger" *ngIf="user.errors['required']">مطلوب</small>
              </div>
          </div> 
          <button (click)="onSubmit()" class="btn btn-primary" style="float:left;margin-top: 2rem;">أرسال مره أخره</button>
          <button type="submit" (click)="adduser()" [disabled]="userregs.form.invalid" [class.btn-success]="userregs.form.valid" [class.btn-danger]="userregs.form.invalid" class="btn mt-5">تحقق</button>   
  </form>
  </ng-template >
