<!-- <div class="col-2 m-auto mt-5" style="height: 17rem;">


    <span routerLink="/password" style="cursor: pointer;">هل نسيت كلمه السر</span>
    
    <button (click)="delete()" *ngIf="deletemail">مسح الحساب الشخصى</button>
    
    </div> -->
    <section class="contactdiv" style="margin-top: 165px;">
        <div class="container">
            <div class="row ">
                
                <div class="col-12">
                    <div class="test">
                        <div class=" p-5" style="justify-content: center; text-align: center;">
                            <h1 class="me-5">الاعدادات</h1>
                            
                        <button class="btn btndiv me-5" style="border-radius: 25px;" routerLink="/password">هل نسيت كلمه السر؟</button>
                        <button class="btn btndiv me-5" style="border-radius: 25px;"  (click)="delete()" *ngIf="deletemail">مسح الحساب الشخص</button>
                    </div>                
                </div>
                </div>
            </div>
        </div>
            
      </section>