.contactdiv{
    
	margin-top: 30px;
	

}

.btndiv{
	background-color: #2b6777;
	color: white;
}

.test{
	background-color: #c8d8e4;
	border-radius: 25px;
    height:200px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
	align-items:center;
	display: flex;

}