    <!-- <div class="row position-static bottom-0 end-0 col-12">
            <div class="col-3"id="footer-col">
                <h4>هل تحتاج مساعدة</h4>
                <ul>
                    <li><a href="#">كيفية شراء الكورسات</a></li>
                    <li><a href="#" class="pb-5">مشاكل اخرى</a></li>
                </ul>
            </div>
            <div  class="col-3">     
            </div>
            <div class="col-6"id="footer-col">
                <h4>تواصل معنا</h4>
                <nav class=" nav nav-pills flex-column flex-sm-row  col-5" style="font-size:2rem;">
                    <a class="flex-sm-fill text-sm-center nav-link  " href="https://www.facebook.com/MOHAMEDKOORANY "target="_blank" ><i class="bi bi-facebook" id="ico"></i></a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="https://wa.me/01122650488"target="_blank"><i class="bi bi-whatsapp" id="ico"></i></a>
                    <a class="flex-sm-fill text-sm-center nav-link " href="https://www.instagram.com/iamkorany/"target="_blank"><i class="bi bi-instagram" id="ico"></i></a>
                    <a class="flex-sm-fill text-sm-center nav-link " href="https://www.youtube.com/channel/UCicvHnXDDfHj4FI6sbb1rGg"target="_blank"><i class="bi bi-youtube" id="ico"></i></a>
                     <a class="flex-sm-fill text-sm-center nav-link " href="https://www.tiktok.com/@mohamedkoranyy "target="_blank"><i class="bi bi-tiktok" id="ico"></i></a>
                 </nav>
            </div>
    </div>
     -->


     
     <!-- Footer Start -->
     <div
     class="container-fluid footer text-white mt-5 py-5 px-sm-3 px-md-5"
     style="justify-content: center; background-color: #2b6777;"
     
     >
     <div class="row pt-5">
       <div class="col-lg-6 col-md-6 mb-5">
         <a
           href=""
           class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0"
           style="font-size: 40px; line-height: 40px"
         >
           <!-- <i class="flaticon-043-teddy-bear"></i> -->
           <span style="color:#c8d8e4">اكاديمية بيس</span>
         </a>
         <br><br>
         <p class="col-5">
           هى اكاديميه تعليميه تم انشائها عام 1999م وتهدف الى بناء مجتمع راقى متحضر قائم على السلوكيات الحميده
           وبناء جيل قادر على مواجهة التحديات المختلفه
         </p>
         <div class="d-flex justify-content-start mt-4 ">
           <a
             class="btn  rounded-circle text-center me-2 px-0 tik"
             style="width: 38px; height: 38px"
             href="https://www.tiktok.com/@mohamedkoranyy"
             ><i class="bi bi-tiktok t"></i
           ></a>
           <a
             class="btn  rounded-circle text-center me-2 px-0 tik"
             style="width: 38px; height: 38px"
             href="https://www.facebook.com/MOHAMEDKOORANY "
             ><i class="fab fa-facebook-f t"></i
           ></a>
           <a
             class="btn  rounded-circle text-center me-2 px-0 tik"
             style="width: 38px; height: 38px"
             href="https://www.youtube.com/channel/UCicvHnXDDfHj4FI6sbb1rGg"
             ><i class="fab fa-youtube t"></i
           ></a>
           <a
             class="btn  rounded-circle text-center me-2 px-0 tik"
             style="width: 38px; height: 38px"
             href="https://www.instagram.com/iamkorany/"
             ><i class="fab fa-instagram t"></i
           ></a>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 mb-5">
         <h3 class=" mb-4" style="color:#c8d8e4">كن معنا</h3>
         <div class="d-flex">
           <h4 class="fa fa-map-marker-alt text-light" ></h4>
           <div class="pl-3">
             <h5 class="text-white pe-2">العنوان</h5>
             <p>123 Street, New York, USA</p>
           </div>
         </div>
         <div class="d-flex">
           <h4 class="fa fa-envelope text-light" ></h4>
           <div class="pl-3">
             <h5 class="text-white pe-2">الايميل</h5>
             <p>info@example.com</p>
           </div>
         </div>
         <div class="d-flex">
             <h4 class="fa fa-phone text-light" ></h4>
             <div class="pl-3">
               <h5 class="text-white pe-2">التلفون</h5>
               <p>(+02 1157988456)</p>
             </div>
           </div>
         
       </div>
       <div class="col-lg-3 col-md-6 mb-5">
         <h3 class=" mb-4" style="color:#c8d8e4">لسهولة الاتصال</h3>
         <div class="d-flex flex-column justify-content-start">
           <a class="text-white mb-2" routerLink="/home"
             ><i class="fa fa-angle-right mr-2"></i>الرئيسيه</a
           >
           <a class="text-white mb-2" routerLink="/about" 
             ><i class="fa fa-angle-right mr-2"></i>عن الموقع</a
           >
           <a class="text-white mb-2" routerLink="/courses"
             ><i class="fa fa-angle-right mr-2"></i>الدورات</a
           >
     
           <a class="text-white" routerLink="/contact"
             ><i class="fa fa-angle-right mr-2"></i>تواصل معنا</a
           >
         </div>
       <!-- </div>
       <div class="col-lg-3 col-md-6 mb-5">
         <h3 class="text-primary mb-4">Newsletter</h3>
         <form action="">
           <div class="form-group">
             <input
               type="text"
               class="form-control border-0 py-4"
               placeholder="Your Name"
               required="required"
             />
           </div>
           <div class="form-group">
             <input
               type="email"
               class="form-control border-0 py-4"
               placeholder="Your Email"
               required="required"
             />
           </div>
           <div>
             <button
               class="btn btn-primary btn-block border-0 py-3"
               type="submit"
             >
               Submit Now
             </button>
           </div>
         </form>
       </div> -->
     </div>
     <div
       class="container-fluid pt-5"
       style="border-top: 1px solid rgba(23, 162, 184, 0.2)"
     >
       <p class="m-0 text-center text-white">
        
         جميع الحقوق محفوظه الى 
         &copy; <a class=" font-weight-bold" style="color:#c8d8e4" href="#">اكاديمية بيس</a>.
       </p>
     </div>
     </div>
     <!-- Footer End -->
     
     <!-- Back to Top -->
 
     
     <!-- JavaScript Libraries -->
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
     <script src="assets/lib/easing/easing.min.js"></script>
     <script src="assets/lib/owlcarousel/owl.carousel.min.js"></script>
     <script src="assets/lib/isotope/isotope.pkgd.min.js"></script>
     <script src="assets/lib/lightbox/js/lightbox.min.js"></script>
     <script src="assets/js/main.js"></script>
     