
  <button type="button" class="btn  m-2 text-center bt" data-bs-toggle="modal" data-bs-target="#coursesmodal"
  (click)="addClick()"
data-bs-backdrop="static" data-bs-keyboard="false">اضافة كورس</button>
  <div class="modal fade" id="coursesmodal" tabindex="-1"data-bs-backdrop="static" data-bs-static="true" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mdal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-edit-courses [course]="course" (ActivateAddEditcrsComp)="RecieveDate($event)"  *ngIf="ActivateAddEditcrsComp">
          </app-add-edit-courses> 
        </div>
      </div>
    </div>
  </div>


<table class="table  table-bordered mt-3 ">
    <thead class=" text-center" style="background:#2b6777 ;color:white">
        <tr>
          <th> كود الكورس</th>
            <th>اسم الكورس</th>
            <th>الوصف</th>
            <th>عدد ساعات الكورس</th>
            <th>عدد المقاطع</th>
            <th>تاريخ البدء</th>
            <th>السعر</th>
            <th>الخصم</th>
            <th>الخيارات</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of coursesList">
          <td>{{dataItem.id}}</td>
            <td>{{dataItem.name}}</td>
            <td>{{dataItem.description}}</td>
            <td>{{dataItem.numberofhours}}</td>
            <td>{{dataItem.numberofvideos}}</td>
            <td>{{dataItem.date}}</td>
            <td>{{dataItem.price}}</td>
            <td>{{dataItem.discount}}</td>


            
             <td>
                <button type="button"  class="btn btn-outline-success text-dark m-1"
                data-bs-toggle="modal" data-bs-target="#coursesmodal"
                (click)="editClick(dataItem)"
                data-bs-backdrop="static" data-bs-keyboard="false"
                >
               تعديل
                </button>
                <button type="button" class="btn btn-outline-danger m-1"
                (click)="deleteClick(dataItem.id)"
                >
                  حذف
                </button>
            </td> 
        </tr>
    </tbody>
</table>