<div  style="margin-top: 150px;  ">
  <div class="d-flex search col-lg-6 col-md-12 col-sm-12 col-12 my-4" style="align-items:center; justify-content: center">
    <input class="form-control me-2 " type="search" placeholder="بحث" aria-label="Search" [(ngModel)]="search">
    <button class="btn  pe-2 " type="submit" (click)="Search()" style="background:#2b6777;color:white">بحث</button>
  </div>
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
    <div class="row row-cols-1 row-cols-xs-4 row-cols-sm-1 row-cols-md-1 row-cols-lg-2  row-cols-xl-3 g-3">
      <div class="col  hp" *ngFor="let item of courseList let i=index">
        <div class="card col- h-70 shadow-sm" >
          <a >
            <img [src]="item.imgpath" height="250px"  class="card-img-top" alt="product.title" />
          </a>
  
          <div class="label-top shadow-sm">
            <a class="text-white"></a>
          </div>
          <div class="card-body">
            <div class="clearfix mb-3">
             
              <span class="float-start badge rounded-pill bg-success">بعد الخصم {{item.price-(item.discount*item.price)/100 }}جنيه</span>
              <span class="float-start badge rounded-pill bg-success" style=" text-decoration: line-through;">السعر {{item.price}}جنيه</span>
            <span class="card-text badge float-end rounded-pill bg-danger" *ngIf="item.discount>0">الخصم {{item.discount/100 | percent}}</span>
            </div>
            <h3 class="card-title">
              <p>{{item.name}}</p>
           </h3>
            <h5 class="card-title" style="height:100px">
              <p>{{item.description}}</p>
            </h5>
            <div class="d-grid gap-2 my-4">
              <button class="button1"  (click)="getcoursedetailes(item.id)" style="background-color: #2b6777;">التفاصيل
                والشراء</button>
              <button type="button" (click)="getcourse(item.id)" class="button1" data-bs-toggle="modal"
                data-bs-target="#VideoModal" style="background-color: #2b6777;">
                التفاصيل
              </button>
              <div class="modal-body">
              </div>
            </div>
          
          </div>
        </div>





      <!-- //////////////////////// -->
      <div class="modal fade" id="VideoModal" data-bs-static="true" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 50%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"> تفاصيل الكورس</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 product_img">
                  <img [src]="course.imgpath" height="300px" class="img-responsive" width="100%">
                </div>
                <div class="col-md-6 product_content">
                  <h4><span>{{course.name}}</span></h4>
                  <p>{{course.description}}.</p>
                  <h3 class="cost">السعر:<span>{{item.price-(item.discount*item.price)/100 }} جنيه</span> </h3>
                  <h3 *ngIf="course.discount>0">الخصم: {{ (course.discount/100)|percent}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>